* {
	padding: 0;
	margin : 0;
	outline: none;
}

html {
	scroll-behavior: smooth; 
}

body {
	font: 500 16px "Bellota Text", sans-serif;
}

h1,
h2,
h3 {
	font-weight: bold;
}

.container {
	background: white;
	margin: 25px auto;
	padding: 2rem;
	width: 60%;
}

.container div {
	padding: 10px 20px;
}

@media (max-width: 720px) {
	.container {
		width: 90%;
	}
}

